.content {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.contentText {
    display: flex;
    flex-wrap: wrap;
    padding: var(--padding);
    gap: 6px;
    align-items: baseline;

    border-bottom: solid var(--bg-color-02) 0.7px;
}