@import url("../../globals.css");

.header-box {
    width: 100dvw;
    height: 70px;
}

.header-box__content {
    position: fixed;
    width: 100dvw;
    height: 70px;
    padding: var(--padding) var(--padding-left) var(--padding)
        var(--padding-right);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
