.content {
    width: 100%;
    height: 70dvh;
    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    align-items: center;
    border-radius: var(--radius-01);
}

.boxColumn {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
}

.boxRow {
    width: 70%;
    display: flex;
    gap: var(--gap);
    flex-direction: row;
    justify-content: space-between;
}

.sec01_msg {
    font-size: 3rem;
}

.name {
    font-size: 9rem;
}

.emoji {
    font-size: 4rem;
}

.wrapperText {
    width: 50%;
    text-align: justify;
    height: fit-content;
    
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    align-items: center;
}

#mascote {
    height: fit-content;
    border: red solid;
}

@media (max-width: 780px),
(max-width: 1050px) {

    .content {
        height: 65dvh;
        margin-bottom: 40px;        
    }

    .boxColum,
    .boxRow {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .sec01_msg {
        font-size: 2rem;
    }

    .name {
        font-size: 3.5rem;
    }

    .emoji {
        font-size: 2rem;
    }

    .wrapperText {
        width: 100%;
    }

    #img {
        width: 30%;
        height: fit-content;
    }

}

@media (max-width: 400px) {
    #img {
        display: none;
    }
}