.input-container {
    position: relative;
    margin: 20px;
}

.input-field {
    display: block;
    width: 40%; /* Alterei para 100% para melhor responsividade */
    padding: var(--padding);
    font-size: var(--normal-text);
    outline: none;
    border: none;
    border-bottom: 2px solid var(--bg-color-04);
    background-color: transparent;
}

/* .input-label {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: var(--normal-text);
    color: var(--bg-color-04);
    transition: all 0.3s ease;
} */

.input-highlight {
    position: absolute;
    width: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: var(--bg-color-05);
    transition: all 0.3s ease;
}

.input-field:focus ~ .input-label {
    top: -20px;
    font-size: var(--small-text); /* Ajustei o tamanho da fonte */
    color: var(--font-color-01);
}

.input-field:focus ~ .input-highlight {
    width: 40%; /* Alinhado com a largura do input-field */
}
