.app-modal-background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: absolute;
    width: 100dvw;
    height: 100dvh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-shadow);

    opacity: 0;
    animation: fadeIn 0.3s ease forwards;

    overflow: hidden;

    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.app-modal-box {
    z-index: 1;
    position: absolute;
    min-width: 50dvw;
    height: 80dvh;
    padding: var(--padding);
    border-radius: var(--coners);
    background-color: var(--bg-color-01);

    flex-wrap: wrap;
    flex-flow: column;

    cursor: auto;

    .app-modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .app-modal-header__span {
            width: 5%;
        }

        .app-modal-title-style {
            font-weight: bold;
            font-size: var(--sub-title);
        }
    }

    .app-modal-content {
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 700px) {
    .app-modal-background {
        min-width: 100dvw;
        height: 100dvh;
        background-color: var(--bg-color-01);
    }

    .app-modal-box {
        top: 0;
        min-width: 100dvw;
        height: 100dvh;
        padding: 10%;
        flex-grow: inherit;
        overflow: hidden;

        .app-modal-header {
            .app-modal-header__span {
                display: none;
            }
        }
    }
}

@media (max-height: 500px) {
    .app-modal-box {
        height: 90vh;
    }
}
