@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("./variables.css");
@import url("./fonts.css");
@import url("./serena.css");

* {
    border: 0;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    box-sizing: border-box;
}

html {
    width: 100dvw;
    height: 100dvh;
    scrollbar-width: none;
    scroll-behavior: smooth;
    font-family: "Source Sans 3";
    background-color: var(--bg-color-01);
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100dvh;
    background-color: var(--bg-color-01);
}

main {
    padding: 20px;
    width: 100%;
    height: fit-content;
    /* height: 100dvh; */
    background-color: var(--bg-color-01);
}

section {
    padding: calc(var(--padding) + 10px);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-color-01);
}

aside {
    padding: var(--padding);
}

h1 {
    font-weight: 700;
    font-size: 2.8rem;
    color: var(--font-color-01);
}

h2 {
    font-weight: 700;
    font-size: 2rem;
    color: var(--font-color-01);
}

h3 {
    font-size: 1.4rem;
    color: var(--font-color-01);
}

p {
    font-weight: normal;
    font-size: 1.3rem;
    margin-bottom: var(--Margin);
    color: var(--font-color-01);
}

button:hover {
    text-decoration: underline;
}
