@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./variables.css');
@import url('./fonts.css');
@import url("./serena.css");


* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
    font-family: "Source Sans 3";
    scroll-behavior: smooth;
    color: var(--font-color-01);
    background-color: var(--bg-color-01);
}

html::-webkit-scrollbar {
    display: none;
}

body {
    
}

main {
    padding: 20px;
    width: 100%;
    /* height: 100dvh; */
}

section {
    padding: var(--padding);
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

aside {
    padding: var(--padding);
}

h1 {
    font-weight: 700;
    font-size: 2.8rem;
}

h2 {
    font-weight: 600;
    font-size: 2rem;
    /* font-size: var(--sub-title); */
    
}

h3 {
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: var(--Margin);
}

a:hover {
    /* text-decoration: underline; */
}




.remove-on-mobile {
}

.show-on-mobile {
}

@media (max-width: 700px) {
    .remove-on-mobile {
        display: none;
    }

    .show-on-mobile {
        display: flex;
    }
}
