.serena-responsive-content {
    margin: var(--margin);
    width: auto;
    height: auto;
    display: flex;
    gap: var(--gap);
    overflow: auto;
    flex-flow: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.serena-active-on-desktop {
    display: flex;
}

.serena-active-on-mobile {
    display: none;
}

@media (max-width: 770px) {
    .serena-responsive-content {
        flex-direction: column;
    }

    .serena-active-on-desktop {
        display: none;
    }
    
    .serena-active-on-mobile {
        display: flex;
    }
}

.serena-format-menu-content {
    padding: calc(var(--padding) + 20px);

    display: flex;
    gap: var(--gap);
    flex-wrap: wrap;
    overflow: auto;
    flex-flow: column;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.serena-b-radius-01 {
    border-radius: var(--radius-01);
}

.serena-b-radius-02 {
    border-radius: var(--radius-02);
}

.serena-shadow-hover:hover {
    box-shadow: 0px 0px 24px var(--bg-shadow);
}

.serena-bg-color-01 {
    background-color: var(--bg-color-01);
}

.serena-bg-color-02 {
    background-color: var(--bg-color-02);
}

.serena-bg-color-03 {
    background-color: var(--bg-color-03);
}

.serena-bg-color-04 {
    background-color: var(--bg-color-04);
}

.serena-bg-color-05 {
    background-color: var(--bg-color-05);
}

.serena-bg-color-06 {
    background-color: var(--bg-color-06);
}

.serena-bg-color-07 {
    background-color: var(--bg-color-07);
}

.serena-bg-color-08 {
    background-color: var(--bg-color-08);
}

.serena-ft-color-01 {
    color: var(--font-color-01);
}

.serena-ft-color-02 {
    color: var(--font-color-02);
}

.serena-ft-color-03 {
    color: var(--font-color-03);
}

.serena-ft-color-04 {
    color: var(--font-color-04);
}

.serena-ft-color-05 {
    color: var(--font-color-05);
}

.serena-ft-color-06 {
    color: var(--font-color-06);
}

.serena-ft-color-07 {
    color: var(--font-color-07);
}

.serena-ft-color-08 {
    color: var(--font-color-08);
}

.serena-border {
    border: solid 1px var(--bg-color-05);
}

.serena-ft-red-02 {
    color: var(--serena-red-02);
}

.serena-bg-red-02 {
    background-color: var(--serena-red-02);
}

.serena-bg-red-02\:50\% {
    background-color: rgba(237, 49, 58, 0.5);
}

.serena-bg-red-02\:40\% {
    background-color: rgba(237, 49, 58, 0.5);
}

.serena-bg-red-02\:30\% {
    background-color: rgba(237, 49, 58, 0.3);
}

.serena-bg-red-02\:20\% {
    background-color: rgba(237, 49, 58, 0.2);
}

.serena-bg-red-02\:10\% {
    background-color: rgba(237, 49, 58, 0.1);
}

.serena-ft-green-02 {
    color: var(--serena-green-02);
}

.serena-bg-green-02 {
    background-color: var(--serena-green-02);
}

.serena-bg-green-02\:20\% {
    background-color: rgba(87, 227, 137, 0.2);
}
