.logoContainer {
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
}

.title {
    color: var(--serena-02);
    text-decoration: none;
}


@media (prefers-color-scheme: dark) {
    .logo {
        border-radius: var(--radius);
        padding: 2px;
        background-color: var(--bg-color-05);
    }

}