@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Source Sans 3";
    src: url("./fonts/SourceSans3-VariableFont_wght.ttf");
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {

    /* Background color: */
    --bgColor-01: #ffffff;
    --bgColor-02: #f6f5f4;
    --bgColor-03: #dedddc;
    --bgColor-04: #b8b8b7;

    /* Font color */
    --fontColor-01: #000000;
    --fontColor-02: #1a1717;
    --fontColor-03: #2f2f2f;
    --fontColor-03: #322e2b;

    /* Colors: */
    --red-01: #f60000;
    --red-02: #ed333b;
    --red-03: #db1111;

    --green-01: #57e389;
    --green-02: #33d174;

    --serena-yellow: #ffbd08;
    --serena-purple: #aa21ff;
    --serena-blue: #174ae4;

    /*  */
    --Coners: 10px;
    --Margin: 10px;
    --Padding: 10px;
    --Gap: 10px;

    /* Font size */
    --Title: xx-large;
    --SubTitle: larger;
    --NormalText: medium;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bgColor-01: #000000;
        --bgColor-02: #2f2f2f;
        --bgColor-03: #1a1717;
        --bgColor-04: #322e2b;

        --fontColor-01: #ffffff;
        --fontColor-02: #f6f5f4;
        --fontColor-03: #dedddc;
        --fontColor-04: #b8b8b7;
    }
}

.app-bg-color {
    color: var(--fontColor-01);
    background-color: var(--bgColor-01);
}

.app-coners {
    border-radius: var(--Coners);
}

.app-button {
    border: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: var(--Padding);
    font-size: var(--NormalText);
    border-radius: var(--Coners);
    color: var(--fontColor-01);
    background-color: var(--bgColor-02);
}

.app-button:hover {
    text-decoration: underline;
}

.app-tooltip {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: inline-block;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-tooltip__content {
    visibility: hidden;
    position: absolute;
    z-index: 1;

    width: fit-content;
    height: fit-content;
    text-align: center;

    margin-top: 120px;
    padding: var(--Padding);
    border-radius: var(--Coners);

    opacity: 0.9;
    transition: opacity 0.3s;
    font-size: var(--NormalText);

    /* A propriedas css estão invertidas para abrigar a mudanca de tema */
    color: var(--bgColor-01);
    background-color: var(--fontColor-01);
}

.app-tooltip:hover .app-tooltip__content {
    visibility: visible;
}



html {
    color: var(--fontColor-01);
    background-color: var(--bgColor-01);
}

h1 {
    font-family: "Source Sans 3";
    font-weight: bold;
    font-size: var(--Title);
}

h2 {
    font-family: "Source Sans 3";
    font-weight: bolder;
    font-size: var(--SubTitle);
}

p {
    font-family: "Source Sans 3";
    font-weight: normal;
    font-size: var(--NormalText);
    margin-bottom: var(--Margin);
}

.app-main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: var(--Padding);
}

.app-section {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: var(--Padding);
}