@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Source Sans 3';
  src: url('./fonts/SourceSans3-VariableFont_wght.ttf');
}

* {
  border: 0;
  margin: 0;
  padding: 0;
}

:root {
  /* Colors: */
  --white-01: #FFFFFF;
  --white-02: #F6F5F4;
  --white-03: #DEDDDC;
  --grey-01: #B8B8B7;

  --black-01: #000000;
  --black-02: #2f2f2f;
  --black-03: #1a1717;
  --black-04: #322E2B;

  --red-01: #F60000;
  --red-02: #ED333B;
  --red-03: #DB1111;

  --green-01: #57E389;
  --green-02: #33D174;

  --serena-yellow: #FFBD08;
  --serena-purple: #AA21FF;
  --serena-blue: #174AE4;

  /*  */
  --Coners: 10px;
  --Margin: 10px;
  --Padding: 10px;
  --Gap: 10px;

  /* Background: */
  --bgColor-01: var(--white-01);
  --bgColor-02: var(--white-02);
  --bgColor-03: var(--white-03);
  --bgColor-04: var(--grey-01);

  /* Font color */
  --fontColor-01: var(--black-01);
  --fontColor-02: var(--black-02);
  --fontColor-03: var(--black-03);
  --fontColor-03: #;

  /* Font size */
  --Title: xx-large;
  --SubTitle: larger;
  --NormalText: medium;

}

@media (prefers-color-scheme: dark) {
  :root {
      --bgColor-01: var(--black-01);
      --bgColor-02: var(--black-02);
      --bgColor-03: var(--black-03);

      --fontColor-01: var(--white-01);
      --fontColor-02: var(--white-02);
      --fontColor-03: var(--white-03);
      --fontColor-03: var(--white-04);
  }
}

.app-bg-color {
  color: var(--fontColor-01);
  background-color: var(--bgColor-01);
}

.app-coners {
  border-radius: var(--Coners);
}

.app-button {
  border: none;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  padding: var(--Padding);
  font-size: var(--NormalText);
  border-radius: var(--Coners);
  color: var(--fontColor-01);
  background-color: var(--bgColor-02);

}

.app-tooltip {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: inline-block;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-tooltip__content {
  visibility: hidden;
  position: absolute;
  z-index: 1;

  width: fit-content;
  height: fit-content;
  text-align: center;

  margin-top: 120px;
  padding: var(--Padding);
  border-radius: var(--Coners);


  opacity: 0.9;
  transition: opacity 0.3s;
  font-size: var(--NormalText);
  
  /* A propriedas css estão invertidas para abrigar a mudanca de tema */
  color: var(--bgColor-01);
  background-color: var(--fontColor-01);
}

.app-tooltip:hover .app-tooltip__content {
  visibility: visible;
}

.app-button:hover {
  text-decoration: underline;
}

html {
  color: var(--fontColor-01);
  background-color: var(--bgColor-01);
}

h1 {
  font-family: 'Source Sans 3';
  font-weight: bold;
  font-size: var(--Title);
}

h2 {
  font-family: 'Source Sans 3';
  font-weight: bolder;
  font-size: var(--SubTitle);
}

p {
  font-family: 'Source Sans 3';
  font-weight: normal;
  font-size: var(--NormalText);
  margin-bottom: var(--Margin);
}

.app-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: var(--Padding);
}

.app-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: var(--Padding);
}