.app-button {
    border: none;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    padding: var(--padding);
    font-size: var(--normal-text);
    border-radius: var(--coners);

    color: var(--font-color-01);
    background-color: var(--bg-color-02);
}

.app-button:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--bg-color-01);
    background-color: var(--font-color-01);
}