.home-header__content {
    display: flex;
    gap: var(--gap);
    flex-direction: row;
    align-items: center;
}

.home-buttons__list {
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-items: center;
}

.home-section {
    height: 75dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.serena-style-font {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--serena-02);
}

.home-content__section-01 {
    .home-content-01__intro {
    }

    .home-content-01__msg {
        font-size: 2.5em;
    }

    .home-content__name-container {
        display: flex;
        align-items: center;
        flex-direction: row;

        .home-content__name {
            font-weight: bolder;
            color: var(--serena-02);
            font-size: clamp(90px, 9vw, 180px);
        }

        .home-content__emoji {
            font-size: clamp(40px, 6vw, 80px);
        }
    }
}

.home-content__section-02 {
    .home-content-02__intro {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);
        align-items: row;
    }

    .home-content-02__text-container {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        margin-right: var(--margin);
        text-align: justify;
    }

    .home-content-02__msg {
        font-size: 1.2em;
        margin-bottom: 20px;
    }
}

.home-content__section-03 {
    .home-content-03__intro {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--gap);
        align-items: row;
    }

    .home-content-03__text-container {
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        text-align: justify;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home-content-03__msg {
        /* font-size: x-large; */
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    .home-content-03__button {
    }
}

@media (max-width: 700px) {
    .home-buttons__list {
        /* display: none; */
    }

    .home-section {
        height: 65dvh;
    }

    .home-content-02__intro,
    .home-content-03__intro {
        flex-direction: column;
    }

    .home-content-02__text-container,
    .home-content-03__text-container {
        margin: 0;
        min-width: 100%;
    }

    .home-content-03__text-container {
        margin-left: 0;
    }

    .home-content-02__img-container,
    .home-content-03__img-container {
        display: none;
    }
}
