.user-card-content {
    
    min-width: 50vw;
    height: max-content;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--gap);

    padding: calc(var(--padding) + 10px);
    border: solid 0.5px var(--bg-color-03);
    border-radius:calc(var(--coners) + 10px);

    margin-bottom: calc(var(--margin) + 10px);
}

.content-left-side {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    align-items: start;
    flex-direction: row;
}

@media (max-width: 700px) {
    .user-card-content {
        width: 90vw;
    }

}

@media (min-width: 2600px) {
    .user-card-content {
        width: 10vw;
    }
}



.content__name, .content__category {
    display: flex;
    justify-content: baseline;
    align-items: start;
    flex-direction: column;
    gap: var(--gap);
}

.content__category {
    align-items: end;
}

.content-name__box {
    display: flex;
    flex-direction: row;
    gap: var(--gap);
}

.service-provider-name {
    font-size: 1.3rem;
    font-weight: bold;
}

.category-name {
    width: fit-content;
    height: fit-content;
    padding: var(--padding);
    border-radius: var(--coners);
    background-color: var(--bg-color-02);
}