.content {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.warrapInput {
    pointer-events: none;
    cursor: not-allowed;
}